@import "colors";
@import "rem";

.chat-container {
  position: fixed;
  right: rem(60px);
  bottom: rem(140px);

  display: flex;
  flex-direction: column;
  width: rem(400px);
  height: rem(600px);
  border: rem(1px) solid $color-border-grey;
  background-color: $color-white;
  border-radius: rem(8px);
  box-shadow: rem(2px) rem(4px) rem(16px) rgba(255, 255, 255, 0.47);
  transition: all 0.3s ease;

  .header {
    display: flex;
    justify-content: space-between;
    padding: rem(8px) rem(14px);

    .logo-container {
      display: flex;
      align-items: center;
      gap: rem(8px);

      .logo {
        img {
          width: rem(40px);
          height: rem(40px);
          border-radius: 50%;
          background: $color-light-grey;
        }
      }

      .text-container {
        .name {
          font-size: rem(14px);
        }

        .sub-name {
          font-size: rem(12px);
          color: $color-grey;
        }
      }
    }

    .button-container {
      display: flex;
      align-items: center;
      gap: rem(20px);

      i {
        transition: color 0.3s ease;
      }

      i:hover {
        cursor: pointer;
        color: $color-light-grey;
      }
    }
  }

  .divider {
    border-top: rem(1px) solid $color-divider;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: rem(8px);
    flex-grow: 1;
    padding: rem(14px);
    overflow-y: scroll;

    .client-message-container {
      display: flex;
      flex-direction: row;
      justify-content: end;

      .client-message-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: rem(4px);

        .client-message {
          background-color: $color-dark-blue;
          border-radius: rem(10px) rem(10px) 0 rem(10px);
          padding: rem(10px);

          .text {
            font-size: rem(14px);
            line-height: rem(18px);
            color: $color-white;
          }
        }

        .time {
          font-size: rem(14px);
          color: $color-grey;
        }
      }
    }

    .bot-message-container {
      display: flex;
      flex-direction: row;
      justify-content: start;

      .bot-message-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: rem(4px);

        .bot-message {
          background-color: $color-background-grey;
          border-radius: rem(10px) rem(10px) rem(10px) 0;
          padding: rem(10px);

          .text {
            font-size: rem(14px);
            line-height: rem(18px);
          }

          .buttons {
            display: flex;
            gap: rem(10px);
            margin-top: rem(12px);

            i {
              color: $color-dark-grey;
              transition: color 0.3s ease;

              mdi {
                font-size: rem(16px);
              }
            }

            i:hover {
              color: $color-black;
              cursor: pointer;
            }
          }
        }

        .time {
          font-size: rem(14px);
          color: $color-grey;
        }
      }
    }
  }

  .question-tag {
    display: flex;
    flex-direction: column;
    gap: rem(4px);
    padding: 0 rem(14px);

    .tag-container {
      width: fit-content;
      border: rem(1px) solid $color-black;
      border-radius: rem(10px);
      padding: rem(2px);
      transition: background-color 0.3s ease;

      .text {
        font-size: rem(14px);
        font-weight: 700;
      }
    }

    .tag-container:hover {
      cursor: pointer;
      background-color: $color-background-grey;
    }
  }

  .footer {
    display: flex;
    flex-direction: column;
    gap: rem(14px);
    padding: rem(14px);
    font-size: rem(14px);
    color: $color-grey;

    .powered-by {
      display: flex;
      justify-content: center;
    }
  }
}

.hidden {
  display: none;
}

.show-chat-btn {
  position: fixed;
  bottom: rem(60px);
  right: rem(60px);

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(50px);
    height: rem(50px);
    background: #c50836;
    border-radius: 50%;
    transition: opacity 0.3s ease;

    i {
      color: $color-white;
    }
  }

  .logo:hover {
    cursor: pointer;
    opacity: 0.9;
  }
}

.mb-12 {
  margin-bottom: rem(12px);
}
