<div class="contact-us">
  <h1>Contact us</h1>

  <div [formGroup]="form" class="body-container">
    <div class="input-email-container">
      <div class="title">Enter your e-mail</div>
      <input
        formControlName="email"
        class="input-email"
        [placeholder]="'john.doe@gmail.com'"
      />
      @if (form.get('email')?.invalid && (form.get('email')?.dirty || form.get('email')?.touched)) {
        @if(form.get('email')?.errors?.['required']) {
          <div class="error">Email is required</div>
        }
        @if(form.get('email')?.errors?.['email']) {
          <div class="error">Enter valid email</div>
        }
      }
    </div>

    <div class="input-email-container">
      <textarea formControlName="message" class="input-text" [placeholder]="'Your message'"></textarea>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="button cancel-btn" (click)="cancel()">Cancel</button>
    <button
      type="button"
      class="button send-btn"
      [disabled]="form.invalid"
      (click)="send()"
    >Send</button>
  </div>
</div>

