$color-white: #FFFFFF;
$color-black: #000000;
$color-border-grey: #D6D6D6;
$color-light-grey: #D3D3D3;
$color-grey: #A9A9A9;
$color-dark-grey: #808080;
$color-dark: #303030;
$color-background-grey: #F1F1F1;
$color-divider: #E2E2E2;
$color-dark-blue: #01014F;


